<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Socket client</title>
  </head>
  <style>
    #VelbusMsg {
      border-color: black;
      border-style: solid;
    }
  </style>
  <body>
    <script>
      // initialisation
      var socket = io.connect();
      let nbMsg = 15;
      let tableMsg = ["","","","","","","","","","","","","","",""];

      // Function to show only last nbMsg messages
      function listerMsg() {
        let texte = "";
        let part = [];
        for (let i=0; i < tableMsg.length; i++) {
          console.log("Table "+i+"â©", tableMsg[i])
          part[0] = tableMsg[i].DESCRIPTION
          part[1] = tableMsg[i].HEX
          texte = texte + '<div class="line"><div class="msg">'+part[0]+"</div>" + '<div class="other">'+part[1]+"</div><div></div></div>\n";
        }
        return texte;
      }

      // Fonction to send relayOn or relayOff
      function AllumerLampe() {
        let etat= document.getElementById("btLampe");
        socket.emit('relay', etat.value);
        if (etat.value == "ON") {
          etat.value = "OFF";
        } else {        
          etat.value = "ON"
        }
      }
      // Fonction to send blindUp or blindDown 1s
      function BlindMove(arg) {
        let etat= document.getElementById("btLampe");
        socket.emit('blind', arg);
      }
      
      socket.on('msg', (msg) => {
        console.log(msg);
        tableMsg.push(msg);
        if (tableMsg.length > nbMsg) tableMsg.shift();
        document.getElementById('VelbusMsg').innerHTML = listerMsg()
      })
    </script>
    <div>This is our socket.html file</div>
    <div id="VelbusMsg">aucun message Velbus</div>
    <div>FIN</div>
    <input type="button" id="btLampe" value="ON" onclick="AllumerLampe()">
    <input type="button" id="btVolet" value="DOWN" onclick="BlindMove('DOWN')">
    <input type="button" id="btVolet2" value="UP" onclick="BlindMove('UP')">
  </body>
</html>