    
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
-->

<!-- Bootstrap-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/js/halfmoon.min.js" integrity="sha512-8fN/MQrHBCMmkx2t4QwGODGHwQf8VxCeNwNkJz0gjt5JrlUfJ5zNlMr9lrzhnl7DSN+5E16YmMHnfomnQmvSoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    if (halfmoon.getPreferredMode() == "light-mode") {
      // Light mode is preferred
    }
    else if (halfmoon.getPreferredMode() == "dark-mode") {
      // Dark mode is preferred
      halfmoon.toggleDarkMode()
    }
    else if (halfmoon.getPreferredMode() == "not-set") {
      // Cookie does not exist
      //halfmoon.toggleDarkMode()
    }
  </script>
</html>