<!DOCTYPE html>
<html lang="fr" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.1.1/css/halfmoon.min.css"
    crossorigin="anonymous">
  <style>
    @import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css");
    @import url("style.css");
  </style>


  <title>Velbus client</title>
  <link rel="icon" href="House-32.ico" type="image/icon type">
</head>

<body data-set-preferred-mode-onload="true">
  <div class="page-wrapper with-navbar">
    <nav class="navbar">
      <a class="navbar-brand" href="http://david.rouma.net">
        <img src="Arvel.png" alt="logo Arvel" />
      </a>

      <ul class="navbar-nav d-md-flex form-inline">
        <li class="nav-item">
          <a class="nav-link" href="/"><span class="mdi mdi-home-automation"></span>Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/analyze"><span class="mdi mdi-glasses"></span>Scanner</a>
        </li>

        <li class="nav-item dropdown with-arrow">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" id="nav-link-dropdown-toggle">
            <span class="mdi mdi-chart-bar"></span>Statistiques
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="nav-link-dropdown-toggle">
            <a class="dropdown-item" href="/statGlobalEnergy"><span class="mdi mdi-chart-bar"></span>TeleInfo</a>
            <a class="dropdown-item" href="/statLocalEnergy?addr=6&part=1">
              <span class="mdi mdi-chart-bar"></span>Compteur PAC et Chauffe-eau</a>
            <a class="dropdown-item" href="/statLocalEnergy?addr=6&part=3">
              <span class="mdi mdi-chart-bar"></span>Compteur Charge Voiture</a>
            <a class="dropdown-item" href="/statLocalEnergy?addr=40&part=1">
              <span class="mdi mdi-chart-bar"></span>Compteur Climatiseur</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/statLocalEnergyInst?addr=6&part=1">
              <span class="mdi mdi-chart-bar"></span>Instantanné PAC et Chauffe-eau</a>
            <a class="dropdown-item" href="/statLocalEnergyInst?addr=6&part=3">
              <span class="mdi mdi-chart-bar"></span>Instantanné Charge Voiture</a>
            <a class="dropdown-item" href="/statLocalEnergyInst?addr=40&part=1">
              <span class="mdi mdi-chart-bar"></span>Instantanné Climatiseur</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/sensor"><span class="mdi mdi-thermometer"></span>Sondes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/installation"><span class="mdi mdi-desktop-classic"></span>Installation </a>
        </li>
        <button class="btn btn-square" type="button" onclick="halfmoon.toggleDarkMode()">
          <span class="mdi mdi-theme-light-dark"></span>
          <span class="sr-only">Toggle dark mode</span> <!-- sr-only = only for screen readers -->
        </button>
      </ul>

    </nav>
  </div>
  <div class="content-wrapper">