<%- include ('./header') -%>

<h1>Installation</h1>
<p>If it's you're first installation, please fill following fields and click start button.</p>

<div class="ms-form-group-inline">
    <span class="mdi mdi-desktop-classic"></span><label class="label">Velbus Server IP address</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="127.0.0.1">
    </div>

</div>

<div class="ms-form-group-inline">
    <span class="mdi mdi-desktop-classic"></span> <label class="label">Velbus Server port number</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="number" placeholder="Text input" value="8445">
    </div>
</div>  

<%- include ('./footer') -%>