<%- include ('./header') -%>

<h1>Installation</h1>
<p>If it's you're first installation, please fill following fields and click start button.</p>

<div class="field">
    <label class="label">Velbus Server IP address</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="127.0.0.1">
        <span class="icon is-small is-left">
            <i class="fas fa-server"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
    <p class="help is-success">Give </p>
</div>
<div class="field">
    <label class="label">Velbus Server port number</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="8445">
        <span class="icon is-small is-left">
            <i class="fas fa-door-open"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
    <p class="help is-success">Give </p>
</div>  

<%- include ('./footer') -%>