<%- include ('./header') -%>
<script src="velbusSocketIO.js"></script>
<script src="listeModules.js"></script>
<h1>Sondes</h1>
<div>
  <div>Sensors page</div>
  <div class="ms-browser">
    <div class="ms-tab-browser">
        <div class="ms-dot red"></div>
        <div class="ms-dot yellow"></div>
        <div class="ms-dot green"></div>
    </div>

    <div class="container" id="ListeSonde"> </div>
  </div>
  <script src="sensor.js"></script>
</div>
<%- include ('./footer') -%>