<%- include ('./header') -%>
<script src="velbusSocketIO.js"></script>
<script src="listeModules.js"></script>
<h1>Sondes</h1>
  <div class="ui">Sensors page</div>
  <div class="container d-inline" id="ListeSonde"> </div>
  <script src="sensor.js"></script>

<%- include ('./footer') -%>