<%- include ('./header') -%>
    <h1>Sondes températures</h1>
    <div>
        <div>Sensors page</div>
        <div class="ms-browser">
            <div class="ms-tab-browser">
                <div class="ms-dot red"></div>
                <div class="ms-dot yellow"></div>
                <div class="ms-dot green"></div>
            </div>

            <div class="container" id="ListeSonde">

                <div class="ms-card ms-inline">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ms-card ms-border">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ms-card ms-border">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ms-card ms-border col-md-3">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ms-card ms-border col-md-3">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ms-card ms-border col-md-3">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ms-card ms-border col-md-3">
                                <div class="ms-card-title">YMCA</div>
                                <div class="ms-content">In the NAVY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./footer') -%>